page-vatdetail {
  ion-card-header {
    white-space: normal;

  }

  ion-card {
    margin-left:0px;
    margin-right:0px;
  }

  ion-icon {
    font-size:14px;
    padding-right:10px
  }

  * {
    font-family:'Open Sans';
  }

  .clause{
    padding-left:15px;
  }

  .paragraph{
    padding-left:30px;
  }

  .highlight {
    background-color:lightgoldenrodyellow;
  }

  ion-card-content {
    max-height:300px;
    text-overflow: scroll;
  }

}
