<!-- Generated template for the NewsArticleComponent component -->
<ion-card (click)="launchBrowser()">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <span class = "timeago" text-center>{{news.pubDate | timeAgo}}</span>
      </ion-row>
      <ion-row>
        <ion-col col-1 text-left>
            <ion-icon name="paper"></ion-icon>
        </ion-col>
        <ion-col>
            <span>{{parseDomain(news.link)}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <span class = 'title'>{{news.title}}</span>
  </ion-card-content>
</ion-card>
