vat-article {
  ion-card-header {
    white-space: normal;

  }

  ion-card {
    margin-left:0px;
    margin-right:0px;
  }

  ion-icon {
    font-size:14px;
    padding-right:10px
  }

  .reflink {
    color:steelblue;
  }

  .deflink {
    color:steelblue;
    font-style:italic;
  }

  .postcontent {
    font-style:italic;
    padding-top:8px;
  }

  .clausename {
    font-weight:700;
  }

}
